/Clases/Clase1/nbproject/private/
/Clases/Clase1/build/
/Clases/Clase2/nbproject/private/
/Clases/Clase2/build/
/Clases/Clase3/nbproject/private/
/Clases/Clase3/build/
/Clases/Practica1/nbproject/private/
/Clases/Practica1/build/
/Clases/Clase5/nbproject/private/
/Clases/Clase5/build/
/Clases/Practica2/nbproject/private/
/Clases/Practica2/build/
/Clases/Clase6/nbproject/private/
/Clases/Clase6/build/
/Clases/Clase7/nbproject/private/
/Clases/Clase7/build/
/Clases/PracticaArreglos/nbproject/private/
/Clases/PracticaArreglos/build/
/Clases/Clase8/nbproject/private/
/Clases/Clase8/build/
/Proyecto/ProyectoP1/nbproject/private/
/Proyecto/ProyectoP1/build/
/Clases/Clase9/nbproject/private/
/Clases/Clase9/build/