/Clases/Clase1/nbproject/private/
/Clases/Clase1/build/
/Clases/Clase2/nbproject/private/
/Clases/Clase2/build/
/Clases/Clase3/nbproject/private/
/Clases/Clase3/build/
/Clases/Practica1/nbproject/private/
/Clases/Practica1/build/
/Clases/Clase5/nbproject/private/
/Clases/Clase5/build/
/Clases/Practica2/nbproject/private/
/Clases/Practica2/build/
/Clases/Clase6/nbproject/private/
/Clases/Clase6/build/
/Clases/Clase7/nbproject/private/
/Clases/Clase7/build/
/Clases/PracticaArreglos/nbproject/private/
/Clases/PracticaArreglos/build/
/Clases/Clase8/nbproject/private/
/Clases/Clase8/build/
/Proyecto/ProyectoP1/nbproject/private/
/Proyecto/ProyectoP1/build/
/Clases/Clase9/nbproject/private/
/Clases/Clase9/build/
/Examen/Examen1Progra/nbproject/private/
/Examen/Examen1Progra/build/
/Clases/Clase10/nbproject/private/
/Clases/Clase10/build/
/Proyecto/ProyectoP1/dist/
/Clases/Clase11/nbproject/private/
/Clases/Clase11/build/
/Clases/Clase11/dist/
/Clases/practica.1/nbproject/private/
/Clases/practica.1/build/
/Clases/PracticaMatriz/nbproject/private/
/Clases/PracticaMatriz/build/
/Quiz/Quiz/nbproject/private/
/Quiz/Quiz/build/
/Clases/Clase12/nbproject/private/
/Clases/Clase12/build/
/Quiz/Quiz2/nbproject/private/
/Quiz/Quiz2/build/
/Clases/PracticaListas1/nbproject/private/
/Clases/PracticaListas1/build/
/Proyecto/Proyecto2/nbproject/private/
/Proyecto/Proyecto2/build/
/Proyecto/ProyectoP2/nbproject/private/
/Proyecto/ProyectoP2/build/